 // ==========================================================================
// Variables
// ==========================================================================


// Layout: Grid breakpoints & parameters
// --------------------------------------------------------------------------

$grid-breakpoints: (
    //root: 0,
    //xs:   40em, // 640px
    sm:   48em, // 768px
    md:   64em, // 1024px
    lg:   80em, // 1280px
);

$grid-columns:          12;
$grid-gutter-width:     30px;
$grid-container-width:  1200px;


// Fonts
// --------------------------------------------------------------------------

$font-path:            '../fonts/' !default;

$font-primary:         'Open Sans', Helvetica, sans-serif !default;
$font-secondary:       'Open Sans', Helvetica, sans-serif !default;

$font-icon:            '';
$font-font-awesome:    'fontAwesome' !default;


// Colors (variables & $colors map)
// --------------------------------------------------------------------------

$color-globalia:    #1982c4;
$color-white:       #fff;
$color-black:       #000;

$color-error:       #f00;
$color-success:     #40b01a;

$color-primary:     #ab242a ;
$color-secondary:   #858585;
$color-form:        #000;

$colors: (
    root: (
        black:       $color-black,
        white:       $color-white,
    ),
    brand: (
        primary:    $color-primary,
        secondary:  $color-secondary,
        white:      $color-white
    ),
    greys: (
        xdark:      lighten($color-black, 20%),
        dark:       lighten($color-black, 35%),
        base:       lighten($color-black, 50%),
        light:      #d1d1d1,
        xlight:     $color-form
    ),
    validation: (
        error:      $color-error,
        success:    $color-success,
    )
);


// Globals
// --------------------------------------------------------------------------

$root-color:            $color-black !default;
$root-cursor:           default !default;

$root-font-family:      $font-primary !default;
$root-font-size:        16px !default;
$root-line-height:      1.5 !default;

$root-vgrid:            $root-font-size * $root-line-height;

@if ($root-vgrid<$grid-gutter-width) {
    // Set the minimum vertical rythm at the gutter-width
    $root-vgrid:        $grid-gutter-width;
}

$root-text-rendering:   optimizeLegibility !default;

$root-margin:           $root-vgrid !default;
$root-padding:          1em !default;

$root-border:           1px solid currentColor !default;
$root-radius:           10px !default;


//  Navigation
// --------------------------------------------------------------------------

$nav-height:                4rem;
$nav-mobile-panel-width:    20rem;


//  Headings
// --------------------------------------------------------------------------
//  First parameter is the font-size of the heading, relative to $root-font-size (16px)
//  Second parameter is the modular scale multiplicator, used to determine the line-height of the heading
//  Third parameter is the font-family

$headings: (
    h1: (3.125, 2, $font-primary),  // font-size: 2*16px=48px; line-height: 2*30px=60px;
    h2: (2.25, 1.2, $font-primary),
    h3: (1.25, 1.2, $font-primary),
    h4: (1, 1, $font-primary),
    h5: (.875, 1, $font-primary),
    h6: (1, 1, $font-primary)
) !default;

$font-heading: $font-primary !default;


//  Form
// --------------------------------------------------------------------------

$form-element-background-color: #fff !default;
$form-element-height:           $root-vgrid * 1.3!default;
$form-element-radius:           0 !default;
$form-element-border-style:     solid;
$form-element-border-color:     #fff !default;
$form-element-border-width:     2px !default;


//  Misc.
// --------------------------------------------------------------------------

$media-element-vertical-align: middle !default;

$selection-background-color: lighten($color-globalia, 40%) !default;
$selection-color: $color-white !default;
$selection-text-shadow: none !default;

$table-border-collapse: collapse !default;
$table-border-spacing: 0 !default;


//  Transitions
// --------------------------------------------------------------------------

$transition-fast:       240ms;
$transition-normal:     480ms;
$transition-slow:       720ms;


//  Components
// --------------------------------------------------------------------------

$zindexes: (
    overlay:            -1,
    overlay-visible:    9,
    nav:                40,
    nav-icon:           41,
    nav-panel:          39
);


// Aliases
// --------------------------------------------------------------------------

$white:         $color-white;
$black:         $color-black;
$snow-white:    $color-white;
$darth-vader:   $color-black;
