# Build
# ------------------------------------------
/composer.phar
/node_modules
npm-debug.log
/.sass-cache

# Groots
# ------------------------------------------
/groots/favicon/favicon.json
/groots/styles/fonts/_googlefonts.scss
/public/dist
/public/gui
/public/.htaccess

# OS/IDE Generated
# ------------------------------------------
# MacOSX
.DS_Store

# Windows
Thumbs.db

# Netbeans
/nbproject

# Jetbrains
/.idea

# Craft
# ------------------------------------------
# /craft/config/db.php
# /craft/config/general.php
# /craft/storage/*
# !craft/storage/.gitkeep

# Wordpress
# ------------------------------------------
# /wordpress/wp-config.php
# /wordpress/wp-content/uploads

# Magento
# ------------------------------------------
# app/etc/local.xml
# downloader/
# var/
# var/session
# media/
