.card-product {
    display: block;
    text-align: center;
    color: color(brand, secondary);

    @include mq(lg) {
        &:hover .btn--primary {
            transform: scale(1.05);
        }
    }

    .card-product__media  {

        @include mq(sm) {
            min-height: 290px;
            max-height: 290px;
            display: flex;
            align-items: flex-end;
        }

        figcaption {
            display: none;
        }

        img {
            display: inline-block;
            max-width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .card-product__title {
        margin: 1.5rem 0 1rem ;
        font-size: em(20px);
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .card-product__description {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: em(14px);
        line-height: 1.4;
    }

    .card-product__price {
        margin: 1rem 0;
        font-size: em(30px);
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: 2px;

        sup {
            font-size: 60%;
            position: relative;
            left: -5px;
        }
    }

    .button-container {
        margin-top: 1.5em;
    }
}
