// ==========================================================================
// Documentation / Codelines Pages
// ==========================================================================

// Interface
// --------------------------------------------------------------------------

.gui-doc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include mq(sm) {
        flex-direction: row;
    }

    @include mq(md) {
        flex-direction: column;
    }

    @include mq(lg) {
        flex-direction: row;
    }
}

.gui-doc__header {
    text-transform: uppercase;
    font: 700 1em $font-secondary;
    color: #a5a5a5; //$gui-interface-color;
    border-bottom: 1px solid currentColor;
    padding: .5em ($grid-gutter-width / 2);
    background: #e5e5e5; //lighten($gui-interface-color, 25%);
    font-size: 2em;
}

.gui-doc__litteral,
.gui-doc__markup,
.gui-doc__showcase {
    border-bottom: 1px solid color(greys, light);;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

.gui-doc__litteral {
    flex: 1;

    code {
        padding: .2rem .4rem;
        font-size: .85em;
        color: $color-error;
        background-color: lighten($color-globalia, 50%);
        border-radius: .25rem;
    }
}

.gui-doc__markup {
    flex: 1;
    position: relative;
    background-color: lighten($color-globalia, 50%);
    padding-top: $root-vgrid;
    padding-bottom: $root-vgrid;
    min-width: 0; // To allow markup to wrap

    pre {
        white-space: pre-wrap;
        font-size: .85em;
    }

    a {
        position: absolute;
        bottom: ($grid-gutter-width / 2);
        right: ($grid-gutter-width / 2);
    }
}

.gui-doc__showcase {
    flex: 1 0 100%;
    display: none;
    padding-top: $root-vgrid;
    padding-bottom: $root-vgrid;

    &.is-open {
        display: block;
    }
}


// Scrollspy
// --------------------------------------------------------------------------

.gui-doc-scrollspy {
    display: none;
    position: absolute;
    left: 0;
    width: $nav-mobile-panel-width;
    height: calc(100vh - #{$nav-height});
    max-height: 100vh;
    padding-top: $root-vgrid;
    padding-bottom: $root-vgrid;
    border-right: 1px solid color(greys, light);
    z-index: 2;
    background: $white;
    overflow: visible;
    overflow-y: auto;

    &.is-fixed {
        position: fixed;
        top: $nav-height;
    }

    @include mq(md) {
        display: block;

        &+main {
            padding-left: $nav-mobile-panel-width;
        }
    }
}

.gui-doc-scrollspy__title,
.gui-doc-scrollspy__subtitle {
    transition: all 240ms ease-out;
    display: block;
    color: $root-color;
    height: 2.75em;
    line-height: 2.75em;
    padding-left: remy($grid-gutter-width);
    padding-right: remy($grid-gutter-width);

    &:hover {
        background-color: #e5e5e5; //lighten($gui-interface-color, 25%);
    }

    &.is-active {
        padding-left: 2.25rem;
        font-weight: 700;
        background-color: lighten($color-globalia, 50%);
    }
}

.gui-doc-scrollspy__title {
    font-size: em(14px);
    font-weight: 700;
}

.gui-doc-scrollspy__subtitle {
    font-size: em(12px);
    font-weight: 400;
}

// Showcase
// --------------------------------------------------------------------------

// $color-col: rgba(16, 85, 129, .1);
// $color-col-hover: rgba(16, 85, 129, .2);
// $color-row-hover: rgba(16, 85, 129, .2);
// $border-color: #d1d0d0;

// .grid-property {
//     padding-top: 1em;
//     line-height: 1.6;
// }

// [gr-grid-doc=true] {

//     overflow-x: hidden;
//     overflow-y: hidden;

//     [gr-grid^='container'],
//     .container-mixin,
//     .container-mixin--fluid,
//     [gr-grid~='row']:not([gr-grid-doc=false]),
//     .row-mixin,
//     [gr-grid~='row--block'],
//     [gr-grid=block] {
//         &:before {
//             @extend %grid-element;
//         }
//     }

//     [gr-grid^='container'],
//     .container-mixin,
//     .container-mixin--fluid {
//         position: relative;
//         padding-bottom: .3em;
//         margin-top: 1.2em;
//         margin-bottom: 1.2em;
//         border: 1px solid  $border-color;
//     }

//     [gr-grid^='container'] {
//         padding-top: .725em;

//         &:before {
//             content: attr(gr-grid);
//         }

//         [gr-grid~='row']:last-of-type {
//             margin-bottom: 0;
//         }
//     }

//     .container-mixin,
//     .container-mixin--fluid {
//         padding-top: 1.05em;

//         &:before {
//             @extend %sass-logo;
//         }
//     }

//     [gr-grid~='row'],
//     .row-mixin {
//         border: 1px dashed $border-color;
//         margin-top: 5px;
//         margin-bottom: 1em;
//         position: relative;
//         transition: background-color $transition-fast ease-in-out;

//         &:after {
//             content: '';
//             display: block;
//             position: relative;
//             left: 0;
//             top: 0;
//             width: 100%;
//             height: 100%;
//         }

//         &:hover {
//             background-color: $color-col-hover;

//             &:before {
//                 font-weight: bold;
//             }
//         }

//         &[gr-grid~='row--order']:after {
//             position: absolute;
//         }
//     }

//     [gr-grid~='row'] {
//         &:before {
//             content: attr(gr-grid);
//         }

//         > [gr-grid*='-'] {
//             margin-top: .2em;
//             margin-bottom: .2em;
//             position: relative;
//         }
//     }

//     .row-mixin {
//         margin-bottom: 1.3em;

//         &:last-of-type {
//             margin-bottom: 0;
//         }

//         &:before {
//             @extend %sass-logo;
//             text-align: start;
//             overflow: scroll;
//             width: 100%;
//             white-space: nowrap;
//             -webkit-overflow-scrolling: touch;
//             @include mq(sm) {
//                 overflow: auto;
//             }
//         }
//     }

//     [gr-grid~='row'] [gr-grid*='-'],
//     [gr-grid~='row'] [gr-grid~=column],
//     .row-mixin > div {

//         cursor: pointer;
//         z-index: 2;
//         position: relative;
//         margin-top: .2em;
//         margin-bottom: .2em;

//         &:before {
//             @extend %grid-col;
//         }

//         &:hover:before  {
//             background-color: rgba(16, 85, 129, .4);
//             color: #fff;
//         }

//         &:after {
//             content: '\0A0';
//         }
//     }

//     [gr-grid~='row'] [gr-grid*='-'],
//     [gr-grid~='row'] [gr-grid~=column] {
//         &:before {
//             content: attr(gr-grid);
//         }
//     }

//     .row-mixin > div {
//         &:before {
//             @extend %sass-logo;
//             background-position: 2px 3px;
//         }

//         &:after {
//             content: '\0A0';
//         }
//     }

//     [gr-grid~='row--block'],
//     .block-grid,
//     .block-grid > div {
//         margin-top: 1em;
//         position: relative;

//         &:before {
//             content: attr(block-grid);
//             padding-left: $grid-gutter-width / 2;
//         }
//     }

//     .block-grid,
//     .block-grid > div {
//         &:before {
//             @extend %sass-logo;
//             width: 100%;
//             white-space: nowrap;
//         }
//     }

//     .block-grid > div:before {
//         margin-left: $grid-gutter-width / 2;
//     }

//     [gr-grid~='row--block']:before {
//         content: 'block-grid ' attr(block-grid);
//     }


//     [gr-grid~='collapse'] {

//         > [gr-grid*='-']:not([gr-grid~='row']):not([gr-grid*='container']):before {
//             width: 100%;
//             left: 0;
//         }
//     }

//     [gr-grid~='uncollapse'] {
//         > [gr-grid*='-']:not([gr-grid~='row']):not([gr-grid*='container']):before {
//             width: calc(100% - #{$grid-gutter-width});
//             left: 15px;
//         }
//     }

//     @each $bp, $w in $grid-breakpoints {
//         @media only screen and (min-width: #{$w}) {
//             [gr-grid~='#{$bp}-collapse'] {

//                 > [gr-grid*='-']:not([gr-grid~='row']):not([gr-grid*='container']):before {
//                     width: 100%;
//                     left: 0;
//                 }
//             }

//             [gr-grid~='#{$bp}-uncollapse'] {
//                 > [gr-grid*='-']:not([gr-grid~='row']):not([gr-grid*='container']):before {
//                     width: calc(100% - #{$grid-gutter-width});
//                     left: 15px;
//                 }
//             }
//         }
//     }

//     [gr-grid-doc=false],
//     [gr-grid-doc=false] [gr-grid~='row'] {
//         border: 0;
//         margin-top: 0;
//         margin-bottom: 0;
//         padding-top: 0;
//         padding-bottom: 0;

//         &:hover {
//             background: none;
//         }

//         &:before,
//         &:after {
//             opacity: 0;
//             visibility: hidden;
//             width: 0;
//             height: 0;
//         }
//     }

//     .col-large {
//         min-height: 75px;
//     }
// }

// [gr-grid-doc=false] {
//     .container-mixin--fluid,
//     .container-mixin,
//     .row-mixin,
//     .row-mixin--collapse,
//     .row-mixin--collapse > div,
//     .row-mixin > div,
//     .row-mixin--collapse > div {
//         &:before {
//             display: none;
//         }
//     }
// }


// // ==========================================================================
// // Docs components
// // ==========================================================================

// pre code {
//     margin-bottom: 2em;
//     -webkit-overflow-scrolling: touch;
//     overflow-y: scroll;

//     @include mq(md) {
//         overflow-y: auto;
//     }
// }

// %grid-element {
//     display: block;
//     position: absolute;
//     left: 3px;
//     top: -17px;
//     font-family: monospace;
//     font-size: 12px;
// }

// %grid-col {
//     display: block;
//     position: absolute;
//     left: 15px;
//     top: 0;
//     overflow: hidden;
//     width: calc(100% - 30px);
//     height: 100%;
//     padding-left: 1em;
//     padding-right: 1em;
//     background-color: $color-col;
//     font-family: monospace;
//     font-size: 12px;
//     border-radius: 3px;
//     transition: all $transition-fast ease-in-out;
//     padding-top: 3px;
// }

// %sass-logo {
//     padding-left: 20px;
//     background-image: url('/dist/images/svg/sass-logo-light.svg');
//     background-repeat: no-repeat;
//     background-size: 15px;
// }

// .sass {
//     position: relative;
//     top: 2px;
//     display: inline-block;
//     width: 15px;
//     height: 15px;
//     background-image: url('/dist/images/svg/sass-logo-light.svg');
//     background-repeat: no-repeat;
//     background-size: 15px;
// }

// .card,
// .card--image {
//     border: 1px solid rgba(16, 85, 129, .1);

//     img {
//         width: 100%;
//     }

//     .card__title {
//         margin-top: 0;
//     }

//     .card__content {
//         padding: 1em;
//     }
// }

// .card--image {
//     border: 0;
// }



// // ==========================================================================
// // grid doc with mixins
// // ==========================================================================

// .container-mixin {
//     @include container;
// }

// .container-mixin--fluid {
//     @include container(true);
// }

// [gr-grid-doc] .container-mixin {
//     @include grid-doc('container;');
// }

// [gr-grid-doc] .container-mixin--fluid {
//     @include grid-doc('container(true);');
// }

// .row-mixin {
//     @include row;
//     @include grid-doc('row;');
// }

// .between-mixin {
//     @include row-between(lg);
//     @include grid-doc('row-between(lg);');
// }

// .pourcent {
//     @include col(sm, 25%);
//     @include col(md, 33%);
//     @include col(lg, 50%);
//     @include grid-doc('col(sm, 25%); col(md, 33%); col(lg, 50%);');
// }

// .n-of-n {
//     @include col(sm, 1 of 5);
//     @include col(lg, 1 of 3);
//     @include grid-doc('col(sm, 1 of 5); col(lg, 1 of 3);');
// }

// .col {
//     @include col(lg, 4);
// }

// .offset-mixin {
//     @include col(md, 10);
//     @include offset(md, 2);
//     @include grid-doc('col(sm, 10); offset(md, 2);');
// }

// .pull-mixin {
//     &:first-of-type {
//         @include col(sm, 6);
//         @include grid-doc('col(sm, 6);');
//     }

//     &:last-of-type {
//         @include col(sm, 6);
//         @include pull(sm, 2);
//         @include grid-doc('col(sm, 6); pull(sm, 2);');
//     }
// }

// .push-mixin {
//     &:first-of-type {
//         @include col(sm, 6);
//         @include grid-doc('col(sm, 2);');
//     }

//     &:last-of-type {
//         @include col(sm, 4);
//         @include push(sm, 2);
//         @include grid-doc('col(sm, 4); push(sm, 2);');
//     }
// }

// .container-mixin {

//     .row-mixin--collpase {
//         @include collapse(sm, '.collapse-mixin');
//         @include uncollapse(lg, '.collapse-mixin');
//         @include grid-doc('collapse(sm, ".collapse-mixin"); uncollapse(lg, ".collapse-mixin");');
//     }

//     .collapse-mixin {
//         @include col(sm, 1 of 2);
//         @include grid-doc('col(sm, 1 of 2);');
//     }
// }

// .container-mixin--fluid {
//     @include container(true);
//     @include grid-doc('container(true);');

//     .row-mixin {
//         .fluid-col {
//             @include col(sm, 1 of 2);
//             @include grid-doc('col(sm, 1 of 2);');
//         }
//     }
// }

// .block-grid {
//     @include block-grid(sm, 3);
//     @include block-collapse(sm);
//     @include block-uncollapse(lg);

//     > div  {
//         @include block;
//         @include grid-doc('block');
//     }

// }

// [gr-grid-doc] .block-grid {
//     @include grid-doc('block-grid(sm, 3); block-collapse(sm); block-uncollapse(lg);');

//     > div  {
//         @include grid-doc('block');
//     }
// }


