.guarantees-tag {
    @at-root .guarantees-tag__container {
        margin-left: auto;
        margin-right: auto;

        @include mq(sm) {
          max-width: 60%;
        }

        @include mq(md) {
            max-width: 1050px;
        }

        [gr-grid="block"] {
            flex-basis: 50%;
            max-width: 50%;;
        }
    }

    .guarantees-tag__icon {
        display: block;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: color(brand, primary);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.2em;

        svg {
            width: 35px;
            height: auto;
        }
    }

    .guarantees-tag__title {
        font-size: em(14px);
        text-align: center;
    }
}
