// ==========================================================================
// Leaves
// ==========================================================================

// All the code here is here for showcase purpose

@import '../fonts/googlefonts';
@import 'buttons';
@import 'card-product';
@import 'blog';
@import 'cta';
@import 'guarantees-tags';
@import 'pagination';
@import 'search';


@import 'layouts/layouts';


@include grid('gr-grid', $grid-columns, $grid-gutter-width, $grid-container-width);
@include form();
@include form-input-text();
@include form-radio();
@include form-checkbox();
@include form-select();
@include form-input-file();
@include breadcrumb();

@import 'docs';


.quote-step {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #f2f2f2;


    .quote-step__progress {
        width: 33.33%;
        height: 40px;
        border-radius: 20px;
        font-size: em(14px);
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        background-image: url('/dist/img/progress.png');

        &.step2 {
            width: 50%;
        }

        &.step3 {
            width: 100%;
        }
    }

}



.section-full__banner-application {

    .banner-application__content {
        background-color: rgba(0, 0, 0, .8);
        padding-bottom: $root-vgrid*2;

        .typography {
            max-width: 730px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            p {
                color: $color-white;
            }
        }

        .button-container {
            max-width: 790px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            a {
                margin: .4em;

                @include mq(sm) {
                    width: calc(50% - 1em);
                }

                [class*="ico-"] {
                    width: 35px;
                    height: 35px;
                    margin-top: -20px;
                    margin-right: 1.5em;
                    position: relative;
                    top: 10px;
                }
            }
        }
    }

    @at-root .background__banner-application {
        background-image: url('/dist/img/background-image-1.jpg');
        background-size: cover;

        @include mq(md) {
            background-position: left -200px top;
        }
        @include mq(lg) {
            background-position: left top;
        }
    }
}

.section__banner-slider {

    @at-root .background__banner-slider {
        background-image: url('/dist/img/background-yellow-1.jpg');
        background-size: cover;
    }
}

.section__application {
    @extend %section-spacing;
}


.wrapper__footer {
    @extend %row;

    padding: $root-vgrid 0;

    .footer__list {
        @include col(sm, 6);
        @include col(md, 3);

        color: $color-white;
        letter-spacing: 1px;
        list-style: none;
        margin: $root-vgrid/2 0;

        .footer__logo {
            img {
                max-width: 240px;
                margin-top: $root-vgrid*1.5;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .footer__title {
            @extend %h-h3;
            font-size: em(20px);
            margin-top: 0;
            margin-bottom: .5em;
            color: currentColor;
        }

        .footer__copyright {
            margin-top: 2em;
        }

        li {

        }

        li > a,
        li > span {
            font-size: em(14px);
            color: currentColor;
            line-height: 1.2;
            transition: color $transition-fast ease-in-out;
        }

        li > a {
            display: inline-block;
            margin-bottom: .8em;
        }

        @include mq(lg) {
            li > a:hover {
                color: color(brand, primary);
            }
        }

        [social] {
            color: $color-black;
        }
    }



    @at-root .background__footer-top {
        background-image: url('/dist/img/background-footer-top.jpg');
    }

    @at-root .background__footer-bottom {
        background-image: url('/dist/img/background-footer-bottom.jpg');
    }
}

%application-element {
    @extend %row;

    flex-wrap: wrap;
    margin-bottom: $root-vgrid;

    @include mq(sm) {
      flex-wrap: nowrap;
    }

    .application-element__image,
    .application-element__content {
        @extend %col;
    }

    .application-element__title {
        margin: 1.3em 0;
        font-size: em(20px);
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include mq(sm) {
            margin-top: 0;
        }
    }

    img {
        width: 100%;
    }
}

.application-element {
    @extend %application-element;
}

.application-element--invert {
    @extend %application-element;
    flex-direction: row-reverse;
}

.ratings {
    display: inline-block;
    position: relative;
    font-family: $font-font-awesome;
    letter-spacing: 5px;

    &:before {
        content: "\f005\f005\f005\f005\f005";
    }

    &:after {
        position: absolute;
        left: 0;
        top: 0;
        color: $color-primary;
    }

    &.one:after {
        content: "\f005";
    }
    &.one-half:after {
        content: "\f005\f089";
    }
    &.two:after {
        content: "\f005\f005";
    }
    &.two-half:after {
        content: "\f005\f005\f089";
    }
    &.three:after {
        content: "\f005\f005\f005";
    }
    &.three-half:after {
        content: "\f005\f005\f005\f089";
    }
    &.four:after {
        content: "\f005\f005\f005\f005";
    }
    &.four-half:after {
        content: "\f005\f005\f005\f005\f089";
    }
}

.addthis_sharing_toolbox {
    display: inline-block;
    position: relative;
    top: 2px;
}

.at-share-btn {
    max-width: 30px !important;
    max-height: 30px !important;

    svg {
        position: relative;
        top: 4px;
    }
}

.at-share-btn,
.at-icon-wrapper {
    background-color: $color-primary !important;

    path {
        fill: $color-black;
    }
}


.section-full__homepage-banner {
    background-image: url('/dist/img/background-footer-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
