@include btn('.btn--primary, .btn--secondary, .btn--tertiary');

%btn {
    @include btn-size(em(18px), 10px, 30px, 0);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 1px;
    transition: transform $transition-fast ease-in-out,
    background-color $transition-fast ease-in-out;

    @include mq(lg) {
        &:hover {
            transform: scale(1.05);
        }
    }

    i {
        margin-right: .6em;
        color: currentColor;
    }

    svg {
        width: 20px;
        height: 20px;
        margin-right: .5em;
        position: relative;
        top: -2px;

        path {
            fill: currentColor;
        }
    }
}

.woocommerce-message .button.button {
    font-size: em(14px);
    font-weight: 500;

    &:hover {
        font-weight: 500;
    }
}

.search-submit,
.gform_next_button,
%btn--primary,
.button,
[class~='reset_variations'],
.btn--primary {
    @extend %btn;
    @include btn-colors($color-white, $color-primary);
}

.btn--secondary {
    @extend %btn;
    @include btn-colors($color-white, $color-secondary);
}

.btn--small,
%btn--small {
    @include btn-size(em(14px), em(10px), em(18px), em(30px));
    padding-bottom: em(8px);
}


.button-container {
    width: 100%;
    margin-top: 1em;

    @include mq(sm) {
      margin-top: 0;
    }
}

.button-container--right {

    @include mq(sm) {
        text-align: right;
    }
}


.parsley-errors-list {
    position: absolute;
    top: 0;
    right: 0;
    font-size: em(12px);
    color: #ff0101;
}
