%site-title {
    @extend %h-h2;
    font-weight: bold;
    margin: .8em 0 .9em;
    color: color(brand, primary);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    line-height: 1.4;

    @media screen and (max-width: 640px) {
        font-size: em(25px);
    }
}

.site-title {
    @extend %site-title;
}

.site-title--heavy {
    font-size: 3.125em;
    line-height: 1;
}


.site-section-title {
    @extend %h-h2;
    margin: .8em 0 .9em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: color(brand, secondary);

    @media screen and (max-width: 640px) {
        font-size: em(25px);
    }
}


* {
}
