// ==========================================================================
// Breadcrumb
// ==========================================================================

@mixin breadcrumb($class: '.breadcrumb', $separator: '/') {

    #{$class} {
        font-size: em(14px);
        list-style: none;
        color: $color-secondary;
        margin-top: $root-vgrid;

        li {
            display: inline-block;

            a {
                color: currentColor;
            }
        }

        li:not(:last-child) {
            &:after {
                content: $separator;
                display: inline-block;
                margin: 0 .2em;
            }
        }

        li:last-child {
            a {
                cursor: default;
            }
        }
    }
}
