// ==========================================================================
// Buttons
// ==========================================================================

//
// Groots basic button styles
//
// TODO: Create custom variable for btn?
//

// The mixin way

@mixin btn(
    $class:             '.btn',
    $btn-font-size:     $root-font-size,
    $btn-font-color:    $white,
    $btn-padding-y:     $root-padding,
    $btn-padding-x:     $root-padding,
    $btn-border-radius: $root-radius,
    $btn-bg-color:      $color-primary,
    $btn-border-color:  transparent
) {
    #{$class} {
        @include btn-size($btn-font-size, $btn-padding-y, $btn-padding-x, $btn-border-radius);
        @include btn-colors($btn-font-color, $btn-bg-color, $btn-border-color);
        display: inline-block;
        border-width: 1px;
        border-style: solid;

        &[disabled] {
            background: color('greys', 'light');
            cursor: not-allowed;
        }
    }
}

// the size
@mixin btn-size(
    $btn-font-size:     $root-font-size,
    $btn-padding-y:     $root-padding,
    $btn-padding-x:     $root-padding,
    $btn-radius:        $root-radius
) {
    font-size: $btn-font-size;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: $btn-radius;
}

@mixin btn-colors(
    $btn-font-color:    $white,
    $btn-bg-color:      $color-primary,
    $btn-border-color:  transparent
) {
    color: $btn-font-color;
    background-color: $btn-bg-color;
    border-color: $btn-border-color;
}

// @include gr-btn('.w1-btn', 10px, 15px, 1em, 6px, blue, purple, purple, blue);
// @include gr-btn('.w1-btn-2');



// ==========================================================================
// Mixin Buttons
// ==========================================================================

// /**
//  * Generating button size and variation
//  *
//  *
//  * @example scss - Usage
//  *   .btn {
//  *     @include button-size(10px, 15px, 1em, 6px);
//  *   }
//  *
//  *  .btn--primary {
//  *     @include button-variant(#1A237E, #3F51B5, #3F51B5, #1A237E);
//  *  }
//  *
//  * @example css - Output
//  *   .btn {
//  *     padding: 10px 15px;
//  *     font-size: 1em;
//  *     border-radius: 6px;
//  *   }
//  *
//  *   .btn--primary {
//  *     background-color: #1A237E;
//  *     border-color: #3F51B5;
//  *   }
//  *
//  *   .btn--primary:hover {
//  *     background-color: #3F51B5;
//  *     border-color: #1A237E;
//  *   }
//  */



// the look
@mixin button-variant($bg-color, $bg-active, $border-color, $border-active, $effect: null) {
    @if($effect == flatt) {
        position: relative;
        background-color: $bg-color;
        overflow: hidden;
        vertical-align: top;
        z-index: 1;
        transition: color .3s;

        &:after {
            position: absolute;
            top: 90%;
            left: 0;
            width: 100%;
            height: 100%;
            background: $bg-active;
            content: '';
            z-index: -2;
            transition: transform .3s;
        }

        &:hover::after {
            transform: translateY(-80%);
            transition: transform .3s;
        }
    } @else if ($effect == globalia) {
        color: $color--globalia;
    } @else {
        background-color: $bg-color;
        border-color: $border-color;

        &:hover {
            background-color: $bg-active;
            border-color: $border-active;
        }
    }
}





.b-btn {
    @include button-size(em(16px), em(16px), 1em, 6px);
    display: inline-block;
    background-color: color('greys', 'light');
    color: $white;
    text-transform: uppercase;
    border: 1px solid transparent;
}

// Size modifiers
// ==========================================================================

.b-btn--small {
    font-size: em(14px);
}

.b-btn--large {
    font-size: em(18px);
}

// Variants
// ==========================================================================

.b-btn--primary {
    @include button-variant($color-primary, $white, color('greys', 'light'), color('greys', 'light'));
    transition: all 240ms ease-out;

    &:hover {
        color: $color-globalia;
        transform: translate3d(0, -.25em, 0);
    }
}

.b-btn--secondary {
    @include button-variant($color-secondary, $white, $color-secondary, $white);
    transition: all 240ms ease-out;
    color: $white;

    &:hover {
        color: $color-globalia;
        transform: translate3d(0, -.25em, 0);
    }
}

// .b-btn--info {
//     @include button-variant($gr-blue-400, $gr-blue-700 , color('greys', 'light'), color('greys', 'light'));
// }

// .b-btn--sucess {
//     @include button-variant($md-green-400, $md-green-700 , color('greys', 'light'), color('greys', 'light'));
// }

// .b-btn--warning {
//     @include button-variant($md-red-400, $md-red-700 , color('greys', 'light'), color('greys', 'light'));
// }

// Flatt effect
// ==========================================================================

.b-btn-flatt {
    @include button-size(em(15px), em(30px), 1em, 0);
    display: inline-block;
    background-color: color('greys', 'light');
    color: $white;
}

// .b-btn-flatt--primary {
//     @include button-variant($color--primary, $gr-blue-700, transparent, transparent, flatt);
// }

// .b-btn-flatt--secondary {
//     @include button-variant($color--secondary, darken($color--secondary, 8%), transparent, transparent, flatt);
// }
