// ==========================================================================
// Grid Custom System
// ==========================================================================

// !! Requires map-variables $grid-breakpoints

%container {
    width: 100%;
    margin: 0 auto;
    max-width: $grid-container-width;

    @if($grid-gutter-width != 0) {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

%container-full {
    @extend %container;
    max-width: 100%;
}

%row {
    display: flex;
    flex-flow: row wrap;

    @if($grid-gutter-width != 0) {
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
    }
}

%col {
    display: block;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @if($grid-gutter-width != 0) {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
    }
}

@mixin col($bp, $col, $attribute: 'gr-grid') {
    @extend %col;

    @if ($bp != null) {
        @include mq($bp) {
            max-width: col-math($col);
            flex-basis: col-math($col);
        }
    } @else {
        max-width: col-math($col);
    }
}

%row-block {
    position: relative;
    display: flex;
    flex-flow: row wrap;

    @if($grid-gutter-width != 0) {
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
    }
}

%block {
    flex: 1 1 auto;
    flex-basis: 100%;
    max-width: 100%;

    @if($grid-gutter-width != 0) {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
    }
}

@mixin collapse() {
    padding-left: 0;
    padding-right: 0;
}

@mixin uncollapse() {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
}

@mixin block-collapse() {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

@mixin block-uncollapse() {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width;
}

@function col-math($col) {
    $width: 0;

    @if type-of($col) == 'number' {
        $width: 100% / $grid-columns * $col;

        @if unit($col) == '%' {
            $width: $col;
        }
    } @else if type-of($col) == 'list' {
        $width: percentage(nth($col, 1) / nth($col, 3));
    } @else {
        $width: $col;
    }
    @return $width;
}

@mixin grid($attribute: 'gr-grid', $attribute-columns: 12, $gutter: 0, $max-width: 100%, $flexbox: true) {

    /* Container */
    [#{$attribute}^='container'] {
        @extend %container;

        /* Container fluid*/
        &[#{$attribute}$='--fluid'] {
            @extend %container-full;
        }
    }

    /* Row */
    [#{$attribute}~=row] {
        @extend %row;

        /* Collapse without breakpoint */
        &[#{$attribute}~=collapse] {
            > [#{$attribute}] {
                @include collapse;
            }
        }

        /* Uncollapse without breakpoint */
        &[#{$attribute}~=uncollapse] {
            > [#{$attribute}] {
                @include uncollapse;
            }
        }
    }

    /* block grid row */
    [#{$attribute}~=row--block] {
        @extend %row-block;
    }

    /* Columns */
    [#{$attribute}~=row] {
        > [#{$attribute}*='-'],
        [#{$attribute}~=column] {
            @extend %col;
        }
    }

    /* Block column */
    [#{$attribute}=block] {
        @extend %block;
    }

    @each $bp, $w in $grid-breakpoints {
        @media only screen and (min-width: #{$w}) {
            @for $i from 1 through $attribute-columns {

                [#{$attribute}~=row] [#{$attribute}~='#{$bp}-#{$i}'] {
                    flex-grow: $i;
                    flex-basis: 0;
                }

                [#{$attribute}~=row--block][#{$attribute}~='#{$bp}-#{$i}'] {

                    [#{$attribute}=block] {
                        flex-basis: 100% / $i;
                        max-width: 100% / $i;
                    }
                }

                [#{$attribute}~=row] {
                    [#{$attribute}~='#{$bp}-offset-#{$i}'] {
                        margin-left: col-math($i);
                    }
                }
            }
        }
    }

    @each $bp, $w in $grid-breakpoints {
        @media only screen and (min-width: #{$w}) {
            [#{$attribute}~=row] {

                &[#{$attribute}~='#{$bp}-collapse'] {
                    > [#{$attribute}] {
                        @include collapse;
                    }
                }

                &[#{$attribute}~='#{$bp}-uncollapse'] {
                    > [#{$attribute}] {
                        @include uncollapse;
                    }
                }
            }

            [#{$attribute}~=row--block] {
                &[#{$attribute}~='#{$bp}-collapse'] {
                    > [#{$attribute}=block] {
                        @include block-collapse;
                    }
                }

                &[#{$attribute}~='#{$bp}-uncollapse'] {

                    > [#{$attribute}=block] {
                        @include block-uncollapse;
                    }
                }
            }
        }
    }
}


@mixin grid-doc($doc: '') {
    &:before {
        content: '#{$doc}';
    }
}
