// ==========================================================================
// Groots Interface
// ==========================================================================

// Here lies all the groots'interface default styles

// Global & Variables
// --------------------------------------------------------------------------

$gui-interface-color:   #a5a5a5;

$font-path:             '../dist/fonts/';
$fa-font-path:          '../dist/fonts/';

@import '../../../node_modules/font-awesome/scss/variables';
@import '../../../node_modules/font-awesome/scss/core';

// Groots
@import '../variables';
@import '../trunk/seeds/seeds'; // helpers, functions, etc.
@import '../trunk/buds/buds';   // components

.fa-angle-down:before { content: $fa-var-angle-down; }
.fa-angle-right:before { content: $fa-var-angle-right; }
.fa-arrow-circle-down:before { content: $fa-var-arrow-circle-down; }
.fa-code:before { content: $fa-var-code; }
.fa-cubes:before { content: $fa-var-cubes; }
.fa-gears:before { content: $fa-var-cogs; }
.fa-book:before { content: $fa-var-book; }
.fa-th-large:before { content: $fa-var-th-large; }
.fa-codepen:before { content: $fa-var-codepen; }
.fa-check:before { content: $fa-var-check; }
.fa-download:before { content: $fa-var-download; }
.fa-refresh:before { content: $fa-var-refresh; }
.fa-envelope-o:before { content: $fa-var-envelope-o; }
.fa-cloud-upload:before { content: $fa-var-cloud-upload; }
.fa-upload:before { content: $fa-var-upload; }



// Navigation
// --------------------------------------------------------------------------

@include nav('.gui-nav', $nav-height, $nav-mobile-panel-width, always);

.gui-nav {
    color: $white;
    background-color: #095da8;
    transition: background-color $transition-fast map-get($easing, easeinsine);

    &.homepage {
        background-color: transparent;

        &.is-open,
        &.is-plain {
            background-color: #095da8;
        }
    }
}

.gui-nav__nav-icon {
    svg {
        width: 32px;
        height: 32px;
    }
}

.gui-nav__nav-title {
    font-weight: 700;
    padding-left: $grid-gutter-width/2;
    color: $white;

    img,
    svg {
        height: 40px;
        width: auto;
        margin-right: .125em;

        polygon {
            fill: $white;
        }
    }
}

.gui-globalia {
    margin-left: auto;

    img,
    svg {
        width: 100px;
        height: 40px;
    }
}

.gui-logo-container {
    img {
        width: 100%;
        max-width: 500px;
    }
}

.gui-nav__panel {
    background-color: $white;
}

.gui-nav__brand {
    font-size: 1.5em;
    color: $color-globalia;
    height: $nav-height;
    line-height: $nav-height;
    padding-left: remy($grid-gutter-width);
    padding-right: remy($grid-gutter-width);
    border-bottom: 1px solid color(greys, xlight);

    img,
    svg {
        height: 40px;
        width: auto;
        margin-right: .125em;
    }
}

.gui-nav__link {
    display: block;
    color: $root-color;
    font-size: 1em;
    font-weight: 700;
    padding: remy($grid-gutter-width / 2) remy($grid-gutter-width);
    transition: background-color $transition-fast map-get($easing, easeinsine);

    &:hover,
    &.is-active {
        background-color: lighten($gui-interface-color, 25%);
    }

    i {
        width: 2em;
    }
}


// Layouts
// --------------------------------------------------------------------------

@include flex-banner('.gui-banner', 28vh, 3rem);

.gui-banner {
    background: $color-globalia;
    margin-top: $nav-height;
    color: $white;
}

.gui-main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.gui-footer {
    margin-top: ($grid-gutter-width * 1.5);
    background-color: color(greys, xdark);
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
    position: relative;
    z-index: 3;
    padding: 0 $grid-gutter-width $root-vgrid;
    text-align: center;

    &>* {
        margin-top: $root-vgrid;
    }

    a {
        display: inline-block;
        color: inherit;
        text-decoration: underline;
        margin-left: 0;
    }

    @include mq(sm) {
        flex-direction: row;
    }
}



// Styleguide
// --------------------------------------------------------------------------

%gui-interface-title {
    text-transform: uppercase;
    font: 700 1em $font-secondary;
    color: $gui-interface-color;
}

.gui-item__header {
    @extend %gui-interface-title;
    border-bottom: 1px solid currentColor;
    padding: .5em ($grid-gutter-width / 2);
    background: lighten($gui-interface-color, 25%);
}

.gui-item__header {
    border-top: 1px solid currentColor;

    @media screen and (min-width: $grid-container-width) {
        padding: .5em calc(50vw - (#{$grid-container-width} / 2) + (#{$grid-gutter-width} / 2));
    }
}

.gui-item__showcase {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
}

.gui-item__subtitle {
    @extend %gui-interface-title;
    margin: $grid-gutter-width 0;
    padding-bottom: .5em;
    border-bottom: 1px solid currentColor;

    a,
    small {
        text-transform: none;
    }

    a {
        float: right;
        color: inherit;
    }
}

%color-swatch {
    display: inline-block;
    width: 200px;
    border: 1px solid $gui-interface-color;

    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 56.25%;
        border-bottom: 1px solid $gui-interface-color;
    }

    &:after {
        font-size: inherit;
        line-height: 2;
        padding: .25em 1em;
        color: $gui-interface-color;
    }
}


@each $label-map, $color-map in $colors {
    @each $label, $color in $color-map {
        .cs-#{$label-map}-#{$label} {
            @extend %color-swatch;

            &:before {
                background-color: $color;
            }

            &:after {
                content: '#{$color}';
            }
        }
    }
}


// Homepage
// --------------------------------------------------------------------------

@include flex-banner('.gui-banner--home', 100vh, 5rem);

.gui-banner--home {
    color: $white;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        z-index: 12;
        opacity: .5;
    }

    &__inner {
        .logo {
            position: relative;
            display: inline-block;
            width: 8em;
            height: 8em;
            border-radius: 100%;
            background-color: $white;
            text-align: center;
            margin-bottom: $grid-gutter-width;

            @include mq(sm) {
                width: 12em;
                height: 12em;
            }

            img,
            svg {
                margin-top: 15%;
                height: 70%;
                width: auto;
            }
        }

        p {
            font-size: .9em;
            font-weight: 400;

            @include mq(sm) {
                font-size: 1.2em;
            }

            i {
                font-weight: 100;
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }

        .gui-banner--home__arrow {
            color: $white;
            margin-top: 2rem;
            display: inline-block;
            transition: all 240ms ease-out;

            @include mq(md) {
                &:hover {
                    transform: translate3d(0, -.25em, 0);
                }
            }

            span {
                display: none;

                @include mq(sm) {
                    font-size: 1em;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: inline-block;
                    padding-bottom: $grid-gutter-width/4;
                }
            }

            .fa {
                display: block;
                font-size: 2em;
            }
        }
    }
}

%gui-section {
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;

    [gr-grid=row] {
        justify-content: center;
    }

    .b-btn--primary {
        margin-top: $grid-gutter-width * 1.2;
    }

    .inline-list {
        @extend %inline-list;

        li {
            margin: 2em;
        }
    }

    img {
        @extend %img-responsive;
    }

    &--feat {
        @extend %gui-section;
        background: $color-globalia;
        color: $white;
    }

}

.gui-section {
    @extend %gui-section;

    &--responsive,
    &--codepen {
        @extend %gui-section--feat;

        img {
            margin: $grid-gutter-width auto;
        }
    }

    &--responsive {
        [gr-grid=row] {
            justify-content: space-around;
        }

        [gr-grid=row] > div:nth-of-type(2) {
            @include mq(sm) {
                display: none;
            }
            @include mq(lg) {
                display: block;
            }
        }
    }
}

.gui-features {
    overflow: visible;
    transition: all $transition-fast map-get($easing, easeoutsine);
    color: color(greys, xdark);
    display: block;

    .gui-features__icon {
        font-size: 3em;
        padding: 1em;
        border-radius: 100%;
        box-shadow: inset 0 0 0 2px $color-globalia;
        background-color: $white;
        color: $color-globalia;
        margin: $grid-gutter-width auto;
    }

    @include mq(md) {
        &:hover {
            transform: translate3d(0, -.25em, 0);
        }
    }
}


.gui-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: .5em;

    svg {
        display: inline-block;
    }
}
