
[class^='section__'],
[class^='section-full'] {
    @extend %container;

}

%section-spacing {
    margin-bottom: $root-vgrid*2;
}

[class^='section-full'] {
    max-width: 100%;
}

[gr-grid=block] {
    margin-bottom: $root-vgrid;
}

%site-title {
    @extend %h-h2;
    font-weight: 500;
    margin: 1.3em 0;
}

.site-title {
    margin-top: .8em;
    @extend %site-title;
}

.site-title--underline {
    @extend %site-title;
    text-align: center;
    margin-bottom: 1em;

    &:after {
        content: '';
        display: block;
        width: 55px;
        height: 3px;
        margin-top: remy(25px);
        margin-left: auto;
        margin-right: auto;
        background-color: $color-primary;
    }
}

.site-subtitle {
    @extend %h-h3;
    font-weight: 500;
}

.site-title--black {
    color: $color-black;

    &:after {
        background-color: currentColor;
    }
}


.site-title--white {
    color: $color-white;

    &:after {
        background-color: $color-primary;
    }
}
