body {
    @include mq(md) {
        overflow-y: hidden;
    }
}

[class^='section__'] {
    @extend %container;
    padding-bottom: 2em;

    @include mq(md) {
        padding-bottom: 4em;
    }
}

[class^='section-fluid'] {
    @extend %container-fluid;
}


.section__punch-line {
    .button-container {

        @include mq(sm) {
          margin-top: $root-vgrid*1.5;
        }
    }
}


[js-realisations-thumbs] {
    cursor: pointer;
}
